h2 {
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 25px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.service-section img {
    margin-top: 40px !important;
}

.abouts {
    margin-bottom: 20px;
}

.abouts .desc h4 {
    margin-top: 0;
}

#corp-pad {
    padding-left: 50px;
}

#text-corp {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 767px) {
    .abouts img {
        width: 100%;
        max-width: 320px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 40px;
    }
}

.corp-image {
    display: none;
}

@media only screen and (min-width: 768px) {
    .abouts {
        display: flex;
        justify-content: flex-start;
        background-color: ;
    }
    .abouts.abouts-right {
        background-color: ;
    }
    .abouts img {
        width: 200px !important;
        height: 200px !important;
        order: 1;
    }
    .abouts .desc {
        order: 2;
        margin-left: 20px;
    }
    .abouts.abouts-right img {
        width: 200px !important;
        height: 200px !important;
        order: 2;
    }
    .abouts.abouts-right .desc {
        order: 1;
        margin-left: 0;
        margin-right: 20px;
    }
    header.masthead {
        text-align: center;
        color: black;
        background-image: url("/img/main1.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
    }
    img.corp-image {
        width: 350px !important;
        height: 386px !important;
        display: block;
    }
    .copyright {
        width: 100%;
    }
    .masthead h2 {
        font-size: 60px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 200px;
        padding-bottom: 350px;
    }
    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
}

.section-heading {
    margin-top: 60px;
}

#corp {
    margin-bottom: -30px !important;
}

section {
    padding-bottom: 30px !important;
}